.project-tile{
  background-color: lightgrey;
}

@media screen and (min-width: 600px){
  section{
    background-color: lightgoldenrodyellow;
  }
}

#welcome-section{
  height:calc(100vh);
  margin: auto;
  text-align: center;
}

#navbar{
  top:0;
  position:fixed;
}